/* -------------------- OBJECTS -------------------- */

/* Style for the ConnectionInfoLabel */
.connection-info-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: sienna;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}

/* Style for the ControlButton */
.control-button {
    -fx-background-color: aliceblue;
    -fx-text-fill: black;
    -fx-border-color: dimgrey;
    -fx-text-alignment: center;
    -fx-border-width: 2px;
}

.control-button:hover {
    -fx-border-color: lightseagreen;
}

.control-button:pressed {
    -fx-background-color: cadetblue;
}



/* Style for the DirectoryDisplayer */
.directory-displayer {
    -fx-background-color: darkseagreen;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-text-alignment: left;
}



/* Style for the FolderSummary */
.folder-summary {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-text-alignment: left;
}



/* Style for the LogText */
.log-text {
    -fx-font-family: monospace;
    -fx-text-alignment: left;
    -fx-background-color: transparent;
}


/** Style for the FileTable */
.file-table {
    -fx-table-cell-border-color: transparent;
}
.left-aligned-col {
    -fx-alignment: CENTER_LEFT;
}
.right-aligned-col {
    -fx-alignment: CENTER_RIGHT;
}
.table-row-cell:selected {
    -fx-background-color: powderblue;
}






/* -------------------- PANELS -------------------- */
/* Style for the whole window */
.main-window {
    -fx-background-color: gainsboro;
}

/* Style for the LogConsole */
.log-console {
    -fx-border-color: dimgrey;
    -fx-background-color: transparent;
}
.log-console .viewport {
    -fx-background-color: transparent;
}

/* Style for the FilePanel */
.file-panel {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
